* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    background-color: #1f1f1f;
    color: #fff;
}
.container {
    align-self: center;
    justify-self: center;
}
.cv,
.hire {
    background-color: rgb(243, 5, 231);
    display: inline-block;
    width: auto;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    padding: 7px;
    margin: 8px;
    font-size: small;
}
.details {
    display: grid;
}
.first-name {
    color: rgb(243, 5, 231);
}
.fab {
    margin: 2rem;
    color: #fff;
}
h5 {
    max-width: 40ch;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
.home {
    height: 80vh;
    width: 90vw;
    display: grid;
}
.hire {
    background-color: rgb(26, 23, 23);
}
.image{
    align-self: center;
    justify-self: center;
}
.inner-details {
    justify-self: center;
    align-self: center;
    text-align: left;
    padding-left: 2rem;
    height: 95%;
    width: 95%;
}
.item {
    justify-self: center;
    align-self: center;
    text-align: center;
}
img {
    height: 250px;
    border-radius: 50%;
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 0 0 15px 2px #eaebec
}
.navbar {
    margin-bottom: 3rem;
}
.navbar-brand {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin: 10px 10px 0 3rem;
}
.name {
    font-size: 3.8rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .03ex;
}
.profession {
    display: inline-block;
    background-image: linear-gradient(to right, #353333, #1f1f1f);
    width: auto;
    padding: 5px 10px 5px 17px;
    border-radius: 25px;
    font-weight: bold;
    font-size: small;
}
span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}
span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(14) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(15) {
    animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(16) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(17) {
    animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(18) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(19) {
    animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(20) {
    animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(21) {
    animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(22) {
    animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(23) {
    animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(24) {
    animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(25) {
    animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(26) {
    animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
span:nth-child(27) {
    animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}
@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}
@media(max-width:768px) {
    .details {
        padding-top: 2.5rem;
    }
    .fab{
        margin: 1rem;
    }
    img {
        height: 170px;
    }
    .social{
        text-align: center;
    }
}
